@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body{
  padding: 200px 600px;
}
button{
  display: inline-flex;
  justify-content:center;
  align-items: center;
  margin: 10px;
}